
@import "../../../_theme_variables";

$color1: #2fa5e0;
$color2: #2fa5e0;
$color3: #f15501;
$color4: #8b16d9;
	
body{background:#fff}	
	
#page{
	background:none;	
	}	
	
#header{	
	ul#header_links li a:hover,
	#languages-block-top div.current::after,
	#currencies-block-top div.current::after,
	#languages-block-top div.current:hover,
	#currencies-block-top div.current:hover,	
	#languages-block-top div.current.active,
	#currencies-block-top div.current.active,
	#currencies-block-top ul li.selected, 
	#currencies-block-top ul li.selected a,
	#currencies-block-top ul li a:hover,
	#languages-block-top ul li.selected, 
	#languages-block-top ul li:hover a, 
	#languages-block-top ul li.selected span
	{color:$color1}
	#header-login .header_user_info.current a
	{color:$color1;
	  &:hover{color:#333}
	}

	.shopping_cart > a:first-child{
background: #31aae7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYWFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzk3ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #31aae7 0%, #2397d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aae7), color-stop(100%,#2397d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #31aae7 0%,#2397d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aae7', endColorstr='#2397d1',GradientType=0 ); /* IE6-8 */

color:#fff;
@include transition(none 0.3s ease);
border-color: #1b75a3	;

&:hover{color:$color3}
	}

.shopping_cart:hover > a:first-child{background:$color1}	
}

#search_block_top .btn.button-search{
background: #31aae7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYWFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzk3ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #31aae7 0%, #2397d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aae7), color-stop(100%,#2397d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #31aae7 0%,#2397d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aae7', endColorstr='#2397d1',GradientType=0 ); /* IE6-8 */
border-color:#1b75a3;

&:hover{background:$color2}
}

#categories_block_left.block .title_block{
background: #4ab4ea; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhYjRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZWE0ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4ab4ea 0%, #3ea4d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ab4ea), color-stop(100%,#3ea4d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ab4ea 0%,#3ea4d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ab4ea 0%,#3ea4d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ab4ea 0%,#3ea4d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4ab4ea 0%,#3ea4d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ab4ea', endColorstr='#3ea4d7',GradientType=0 ); /* IE6-8 */

	
	}
#categories_block_left .block_content > ul{background:#2daae7}
#categories_block_left li a{border-color:#5ebfed;}
#categories_block_left li span.grower:hover + a, #categories_block_left li a:hover, #categories_block_left li a.selected{background:$color1}
#categories_block_left li > ul{background:#46b6eb}


#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active{border-color:$color2}

#htmlcontent_top ul li a{background:$color3}
#htmlcontent_top ul li.htmlcontent-item-2 a{background:$color4;

&:hover{background:#595958}
}
#htmlcontent_top ul li.htmlcontent-item-3 a{background:$color1;

&:hover{background:#595958}
}
#home-page-tabs > li.active a, #home-page-tabs > li a:hover{color:$color2}
#home-page-tabs{border-color:$color1}

.sale-label{background:$color3}
.new-label{background:$color1}
.product-name,.product-name a{color:$color1}

.price, .price.product-price{color:$color4}


.tags_block .block_content a{color:$color4;&:hover{color:$color1}}
ul.product_list .product-image-container .quick-view{background:$color1;&:hover{background:$color3}}


	
	.btn.btn-default{
	border-color:#8db7cc;	
	background:#f5fbfe;
	color:#0e638d;
			&:hover,
	&:active,
	&:active:focus,
	&:focus{background:$color2;border-color:$color2}
		
		}
.price-percent-reduction{background:$color3}		
.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button{
background: #31aae7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYWFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzk3ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #31aae7 0%, #2397d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aae7), color-stop(100%,#2397d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #31aae7 0%,#2397d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aae7', endColorstr='#2397d1',GradientType=0 ); /* IE6-8 */
border-color:#1b75a3;
color:#fff;
	&:hover,
	&:active,
	&:active:focus,
	&:focus{background:$color2;border-color:$color2;}
	}
	
	
	#left_column .block .title_block, #left_column .block h4{border-color:#8b16d9}
	

	 
	#left_column  #categories_block_left.block .title_block{
		border-color:#3281a9
		}
	.product-name:hover,.product-name a:hover, a.product-name:hover{color:$color1} 
	
	 
.footer-container #footer ul li a:hover,.footer-container #footer #social_block ul li a:hover,.footer-container #footer h4 a:hover{color:$color1}	 
.footer-container #footer .bottom-footer div a{color:$color1;&:hover{color:$color3}}


	#our_price_display{color:$color4} 
	#layer_cart .layer_cart_product h2{color:$color2}

	
#newsletter_popup {
	.icon.tmnewsletter-close{background:$color1;
   &:hover{background:$color3}
}	
.tmnewsletter-header h4{border-color:$color2}
.tmnewsletter-footer{background:$color3;color:#fff}	
.tmnewsletter-content .form-group .tmnewsletter-submit{
background: #31aae7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYWFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzk3ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #31aae7 0%, #2397d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aae7), color-stop(100%,#2397d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #31aae7 0%,#2397d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #31aae7 0%,#2397d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aae7', endColorstr='#2397d1',GradientType=0 ); /* IE6-8 */
border-color:#1b75a3;

&:hover{background:$color2}		
	}
}

	